<launch>

  # Load the 2D map server with the map file 
  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find seb_move)/maps/map.yaml" /> -->

  # Load navigation stack parameters
  <!-- <rosparam file="$(find seb_move)/config/navigation_params.yaml" command="load" /> -->

  <node pkg="move_base" type="move_base" name="move_base" output="screen">
    <rosparam file="$(find seb_move)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find seb_move)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find seb_move)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find seb_move)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find seb_move)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find seb_move)/config/base_local_planner_params.yaml" command="load" />
  </node>


  # Provide the path to your URDF file
  <!-- <include file="$(find spot_description)/launch/description.launch" /> -->
  <param name="robot_description" textfile="$(find seb_move)/urdf/square_robot.urdf" />
  <!-- <param name="robot_description" textfile="$(find spot_description)/urdf/spot.urdf.xacro" /> -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro $(find spot_description)/urdf/spot.urdf.xacro" /> -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0"/>
  </node>

  # Start RViz with the robot description parameter
  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find seb_move)/rviz/seb_move.rviz" required="true"/> -->

  <!-- <node pkg="learning_tf2" type="IMU_broadcaster.py" name="IMU_broadcaster" respawn="false" output="screen" />  -->

  <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find spot_viz)/rviz/model.rviz" /> -->

</launch>